<header>
  <img
    src=""
    alt="Gabriella Rodrigues - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Gabriella Rodrigues</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Angular | Javascript | React | NodeJs | Python</p>
    <p>Uberaba, Minas Gerais, Brasil</p>
    <p>
      Texto
    </p>

    <nav>
      <ul>
        <li>
          <a href="" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/gabriella-gomes-ar/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5534998950703&text=Ol%C3%A1%20Gabi,%tudo%20%Bem?"
            target="_blank"
          >
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (34) 99895-0703</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/email.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:gabi.gomes.gr@gmail.com" target="_blank">
            <strong>Envie um e-mail para:</strong>
            <p>gabi.gomes.gr@gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
