:root {
  --primary: #B13458;
  --primary-010: #da5379;
  --primary-020: #e785a1;
  --primary-030: #f3ccd7;

  --secondary-000: #1A4B59;
  --secondary: #3497B1;
  --secondary-010: #64cae4;
  --secondary-020: #a4deec;

  --terciary: #1a5927;
  --terciary-010: #73B180;

  --white: #ffffff;
  --white-010: #DBD9DB;

  --black: #070e14;
  --black-010: #252525;

  --gray: #C4C4C4;
}
