:root {
  --primary-000: #762132;
  --primary: #EB4265;
  --primary-010: #eb6882;
  --primary-020: #e79baa;
  --primary-030: #eebec8;


  --secondary: #217664;
  --secondary-010: #42EBC8;
  --secondary-020: #97e9d9;

  --white: #FFFFFF;
  --white-010: #DBD9DB;

  --black: #070e14;
  --black-010: #252525;

  --gray: #C4C4C4;
}
