:root {
  --primary-000: #780116;
  --primary: #ad243d;
  --primary-010: #bb3d54;
  --primary-020: #dd636d;
  --primary-030: #d6a0aa;


  --secondary: #4472CA;
  --secondary-010: #6a91d8;
  --secondary-020: #93B5C6;

  --white: #FFFFFF;
  --white-010: #DBD9DB;

  --black: #0c1116;
  --black-010: #252525;

  --gray: #C4C4C4;
}
